AccessControl==4.2
Acquisition==4.7
AuthEncoding==4.2
Automat==20.2.0
BTrees==4.7.2
Chameleon==3.8.1
DateTime==4.3
DocumentTemplate==3.4
ExtensionClass==4.5.0
Missing==4.1
MultiMapping==4.1
PasteDeploy==2.1.1
Persistence==3.0
Plone==5.2.3
Products.BTreeFolder2==4.2
Products.CMFCore==2.4.8
Products.CMFDiffTool==3.3.2
Products.CMFDynamicViewFTI==6.0.3
Products.CMFEditions==3.3.4
Products.CMFFormController==4.1.4
Products.CMFPlacefulWorkflow==2.0.3
Products.CMFPlone==5.2.3
Products.CMFQuickInstallerTool==4.0.3
Products.CMFUid==3.1.0
Products.DCWorkflow==2.4.1
Products.DateRecurringIndex==3.0.1
Products.ExtendedPathIndex==4.0.1
Products.ExternalMethod==4.4
Products.GenericSetup==2.0.3
Products.MailHost==4.10
Products.MimetypesRegistry==2.1.8
Products.PlonePAS==6.0.6
Products.PluggableAuthService==2.5
Products.PluginRegistry==1.8
Products.PortalTransforms==3.1.10
Products.PythonScripts==4.12
Products.Sessions==4.8
Products.SiteErrorLog==5.4
Products.StandardCacheManagers==4.0.3
Products.TemporaryFolder==5.3
Products.ZCatalog==5.2
Products.ZopeVersionControl==2.0.0
Products.isurlinportal==1.1.1
Products.statusmessages==5.0.5
PyHamcrest==2.0.2
Record==3.5
RestrictedPython==5.1
Twisted==20.3.0
WSGIProxy2==0.4.6
WebOb==1.8.6
WebTest==2.0.35
ZConfig==3.5.0
ZEO==5.2.2
ZODB==5.6.0
ZODB3==3.11.0
Zope==4.5.3
Zope2==4.0
attrs==20.3.0
autobahn==20.7.1
bcrypt==3.2.0
beautifulsoup4==4.9.3
borg.localrole==3.1.8
calmjs.parse==1.2.5
certifi==2020.4.5.1
cffi==1.14.3
chardet==3.0.4
collective.monkeypatcher==1.2.1
constantly==15.1.0
cryptography==2.9.2
cssselect==1.1.0
decorator==4.4.2
diazo==1.4.0
docutils==0.15.2
feedparser==5.2.1
five.customerize==2.0.1
five.intid==1.2.6
five.localsitemanager==3.2.2
future==0.18.2
h2==3.2.0
hpack==3.0.0
hyperframe==5.2.0
hyperlink==20.0.1
icalendar==4.0.7
idna==2.10
incremental==17.5.0
jsonschema==3.2.0
lxml==4.6.1
markdown==3.1.1
mockup==3.2.4
persistent==4.6.4
piexif==1.1.3
pillow==6.2.2
plone.alterego==1.1.5
plone.api==1.10.4
plone.app.caching==2.0.8
plone.app.content==3.8.7
plone.app.contentlisting==2.0.3
plone.app.contentmenu==2.3.2
plone.app.contentrules==4.1.5
plone.app.contenttypes==2.2.1
plone.app.customerize==1.3.11
plone.app.dexterity==2.6.8
plone.app.discussion==3.4.3
plone.app.event==3.2.10
plone.app.i18n==3.0.6
plone.app.intid==1.1.4
plone.app.iterate==3.3.15
plone.app.layout==3.4.6
plone.app.linkintegrity==3.3.14
plone.app.locales==5.1.27
plone.app.lockingbehavior==1.0.7
plone.app.multilingual==5.6.2
plone.app.portlets==4.4.6
plone.app.querystring==1.4.14
plone.app.redirector==2.2.1
plone.app.registry==1.7.7
plone.app.relationfield==2.0.3
plone.app.textfield==1.3.5
plone.app.theming==4.1.6
plone.app.upgrade==2.0.36
plone.app.users==2.6.5
plone.app.uuid==2.0.2
plone.app.versioningbehavior==1.4.1
plone.app.viewletmanager==3.1.1
plone.app.vocabularies==4.2.1
plone.app.widgets==3.0.5
plone.app.workflow==4.0.3
plone.app.z3cform==3.2.2
plone.autoform==1.9.0
plone.batching==1.1.6
plone.behavior==1.4.0
plone.browserlayer==2.2.4
plone.cachepurging==2.0.2
plone.caching==1.2.2
plone.contentrules==2.1.0
plone.dexterity==2.10.0
plone.event==1.4.1
plone.folder==3.0.3
plone.formwidget.namedfile==2.1.0
plone.formwidget.recurrence==2.1.4
plone.i18n==4.0.6
plone.indexer==1.0.7
plone.intelligenttext==3.1.0
plone.keyring==3.1.3
plone.locking==2.2.4
plone.memoize==2.1.0
plone.namedfile==5.4.0
plone.outputfilters==4.0.2
plone.portlet.collection==3.3.5
plone.portlet.static==3.1.6
plone.portlets==2.3.2
plone.protect==4.1.6
plone.registry==1.1.6
plone.resource==2.1.3
plone.resourceeditor==3.0.3
plone.rest==1.6.1
plone.restapi==6.15.0
plone.rfc822==2.0.2
plone.scale==3.1.2
plone.schema==1.2.1
plone.schemaeditor==3.0.2
plone.session==3.7.5
plone.staticresources==1.4.1
plone.stringinterp==1.3.3
plone.subrequest==1.9.3
plone.supermodel==1.6.3
plone.synchronize==1.0.4
plone.theme==3.0.7
plone.transformchain==2.0.2
plone.uuid==1.0.6
plone.z3cform==1.1.3
plonetheme.barceloneta==2.1.10
ply==3.11
priority==1.3.0
pyOpenSSL==20.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyjwt==1.7.1
pyrsistent==0.15.7
pyscss==1.3.7
python-dateutil==2.8.1
python-gettext==4.0
pytz==2020.4
pyzmq==20.0.0
repoze.xmliter==0.6
requests==2.25.0
roman==3.3
service-identity==18.1.0
simplejson==3.17.0
six==1.15.0
soupsieve==1.9.6
tempstorage==5.1
transaction==3.0.0
txZMQ==0.8.2
txaio==20.4.1
unidecode==0.4.1
urllib3==1.26.1
uvloop==0.14.0
waitress==1.4.4
z3c.autoinclude==0.4.0
z3c.caching==2.2
z3c.form==3.7.1
z3c.formwidget.query==0.17
z3c.objpath==1.2
z3c.pt==3.3.0
z3c.relationfield==0.9.0
z3c.zcmlhook==1.0b1
zExceptions==4.1
zc.buildout==2.13.3
zc.lockfile==2.0
zc.relation==1.1.post2
zdaemon==4.3
zodbpickle==2.0.0
zope.annotation==4.7.0
zope.app.locales==4.1
zope.browser==2.3
zope.browsermenu==4.4
zope.browserpage==4.4.0
zope.browserresource==4.4
zope.cachedescriptors==4.3.1
zope.component==4.6.2
zope.componentvocabulary==2.2.0
zope.configuration==4.4.0
zope.container==4.4.0
zope.contentprovider==4.2.1
zope.contenttype==4.5.0
zope.copy==4.2
zope.deferredimport==4.3.1
zope.deprecation==4.4.0
zope.dottedname==4.3
zope.event==4.5.0
zope.exceptions==4.4
zope.filerepresentation==5.0.0
zope.globalrequest==1.5
zope.hookable==5.0.1
zope.i18n==4.7.0
zope.i18nmessageid==5.0.1
zope.interface==5.2.0
zope.intid==4.3.0
zope.keyreference==4.2.0
zope.lifecycleevent==4.3
zope.location==4.2
zope.pagetemplate==4.5.0
zope.processlifetime==2.3.0
zope.proxy==4.3.5
zope.ptresource==4.2.0
zope.publisher==5.2.1
zope.ramcache==2.3
zope.schema==6.0.0
zope.security==5.1.1
zope.sendmail==5.1
zope.sequencesort==4.1.2
zope.site==4.4.0
zope.size==4.3
zope.structuredtext==4.3
zope.tal==4.4
zope.tales==5.1
zope.testbrowser==5.5.1
zope.testing==4.7
zope.traversing==4.4.1
zope.viewlet==4.2.1
